.azeret-mono-normal{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    
    font-style: normal;
  }
*{
    margin: 0;
    padding: 0;
}
nav{
    width: 80%;
    margin: 20px auto;
}
.nav-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-div h1{
    font-size: 28px;
    font-weight: bold;
}
.nav-btn{
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    color: rgba(36, 42, 56, 0.7);
    cursor: pointer;
}
/* shared css start---------------*/
.banner, .why-section, .inspiration-section, .current-section, .support-section, .footer-section{
    width: 67%;
    margin: 40px auto;
}
.why-div .h1, .current-div h1, .support-div h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}
.why-div .p, .current-div p, .support-div p{
    text-align: center;
    margin-top: 20px;
    color: rgb(13, 19, 33, 0.7);
}


/* shared css end----------------- */
.banner-div{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    
}


.layer{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}
.layer-2{
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.layer h1, .layer-2 h1{
    color: rgba(13, 19, 33, 0.7);
}
.layer p, .layer-2 p{
    color: rgba(13, 19, 33, 0.7);
    margin-top: 20px;
    margin-right: 60px;
}
.learn-more-btn{
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    color: rgba(36, 42, 56, 0.7);
    cursor: pointer;
    margin-top: 20px;
}

.inspiration-div{
    margin-top: 80px;
}
.inspiration-div h1{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}
.inspiration-div p{
    text-align: center;
    color: rgba(36, 42, 56, 0.7);
    margin-top: 20px;
    
}
.current-card{
    display: flex;
    justify-items: center;
    gap: 40px;
    margin-top: 100px;
}
.c-card h1{
    margin-top: 20px ;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 800;
}
.c-card p{
    color: rgba(36, 42, 56, 0.7);
    margin-top: 20px;
    margin-bottom: 20px;
}
.c-card a{
    color: rgb(13, 19, 33);
    font-weight: 700 ;
    
}
.support-div h1{
    color: white;
    font-weight: 700;
}
.support-div p{
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
}
.footer-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}