.azeret-mono-normal{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    
    font-style: normal;
  }
*{
    margin: 0;
    padding: 0;
}
nav{
    width: 80%;
    margin: 20px auto;
}
.nav-div{
    display: flex;
    justify-content: space-between;
    justify-items: center;
}
.nav-div h1{
    font-size: 28px;
    font-weight: bold;
}
.nav-btn{
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    color: rgb(13, 19, 33);
    cursor: pointer;
}
.banner{
    width: 67%;
    margin: 0 auto;
}
.banner-div{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    
}
.banner-div p{
    /* width: 1/3; */
}